// Specific CSS for your home-page
.background-home {
  background-image: asset-url("home.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-home{
  display: block;
  align-content: center;
  background-color: #B2B1B9;

  .card {
    background-color: #B2B1B9;
  }
}
