body{
  background-color: #7D7C7C;
}

.show-card {
  margin: 48px auto 0px ;
  width: 95%;
  border-radius: 2%;

}

.card-form{
  margin: 60px auto 60px 0;
  width: 90%;
  padding: 24px;
}

.button{
  margin: 0 auto;
  width: min-content;
}
