<div class="container-home">
  <div class="card text-center">
    <div class="card-header">
      <h1>Sinister Staycation</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome to your haunted hideaway – where scares become memories.</h5>
      <p class="card-text">Unleash the fear, book your haunt now!</p>
      <%= link_to 'Dare to continue?', properties_path, class: "btn btn-primary"%>
    </div>
    <div class="card-footer text-body-secondary">
    </div>
  </div>
</div>
