<div class="header_container row">

  <div class="header col-5">
    <h1>Sinister Staycation</h1>
    <h2>Welcome to your haunted hideaway – where scares become memories.</h2>
    <p class="card-text">Unleash the fear, book your haunt now!</p>
    <%= link_to 'Dare to continue..?', properties_path, class: "btn btn-primary"%>
  </div>




</div>











<%# <div class="container-home">
  <div class="card text-center">
    <div class="card-header">
      <h1>Sinister Staycation</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome to your haunted hideaway – where scares become memories.</h5>
      <p class="card-text">Unleash the fear, book your haunt now!</p>
      <%= link_to 'Dare to continue?', properties_path, class: "btn btn-primary"%>
