<%# <div class="container"> %>
  <div class="booking-container row">
    <div class="profile-container col-4">
  <div class="profile-photo" style="background-image: url(<%= image_path 'avatar1.png' %>)">
    </div>
    <div class="">
      <h1>Name</h2>
      <p>My profile (link/botton) </p>
      <p>My bookings (button)</p>
      <p>My Rentals (button)</p>
    </div>
  </div>

  <div class="col-8">
    <div class="tab-wrap">

        <!-- active tab on page load gets checked attribute -->
        <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
        <label for="tab1">Request</label>

        <input type="radio" id="tab2" name="tabGroup1" class="tab">
        <label for="tab2">Confirmed</label>

        <input type="radio" id="tab3" name="tabGroup1" class="tab">
        <label for="tab3">Completed</label>

        <div class="tab__content">
          <h3>First Section</h3>
          <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
        </div>

        <div class="tab__content">
          <h3>Second Section</h3>
          <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

          <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.</p>
        </div>

        <div class="tab__content">
          <h3>Third Section</h3>
          <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

          <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.</p>
        </div>

      </div>
    </div>
  </div>

  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>

<%# </div> %>
