.side_bar {
  display: flex;
  margin-top: 10px;
  height: 60px;
  justify-content: center;
}

.categorybutton {
  text-decoration: none;
  color: white;
  margin: 8px;
  font-size: 20px;
}

.categorybutton:hover {
  color: black;
}

.categorybutton.active {
  color: red;
}
