.search_input {
  width: 600px;
  background-color: grey;
  opacity: 0.7;
  border: darkblue;
  border-radius: 5px;
  font-size: 24px;
  padding-left: 16px;
  font-style: italic;
}

.search_button {
  background-color: darkgray;
  border: aqua;
  font-size: 24px;
  border-radius: 4px;
  font-family: unset;
}
